/* Задание 1 */
.task1__scary-text {
font-family: Nosifer;
color: red;
font-size: 2rem;
}

/* Задание 2 */
.task2__lyrics {
letter-spacing: 1px;
line-height: 1.5;
}

/* Задание 3 */
.task3__italic {
font-style: italic;
}
.task3__oblique {
font-style: oblique;
}
.task3__bold {
text-decoration: bold;
}
.task3__underlined {
text-decoration: underline;
}
.task3__overlined {
text-decoration: overline;
}
.task3__linethrough {
text-decoration: line-through;
}
.task3__bonus {
text-decoration: line-through underline;
}

/* Задание 4 */
.task4__block1 {
border-radius: 50%;
background-color: red;
}
.task4__block2 {
border-radius: 50%;
background-color: yellow;
}
.task4__block3 {
border-radius: 50%;
background-color: green;
}

/* Задание 5 */
.task5__name {
color: pink;
}
.task5__hex {
color: #ff8484;
}
.task5__rgb {
color: rgb(255, 132, 132);
}
.task5__rgba {
color: rgba(100%, 52%, 52%, 0.5);
}
.task5__hsl {
color: rgb(100%, 52%, 52%);
}
.task5__hsla {
color: hsla(0, 100%, 76%, 0.5);
}

/* Задание 6 */
.task6__cat-parent {
text-align: right;
}

/* Задание 7 */
.task7__bear {
  z-index: -1;
}

/* Задание 8 */
.task8__cage {
position: relative;
}

/* Задание 9 */
.task9__spider-man {
  position: relative;
}

/* Задание 10 */
.task10__pelmeshek {
position: fixed;
right: 0;
top: 0;
}

/* Бонусное задание 1 */
.task-bonus1 {
transform: rotate(180deg);
text-align: right;
}

/* Бонусное задание 2 */
.task-bonus2__sidebar {
float: left;
width: 12%;
}
.task-bonus2__content {
float: inherit;
}
.task-bonus2__footer {

}

/* Бонусное задание 3 */
.task-bonus3__flex {
	display: flex;
	justify-content: space-around;
}
